@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.preloader__1x {
  transform: scale(0.1);
}

.preloader__2x {
  transform: scale(0.2);
}

.preloader__3x {
  transform: scale(0.3);
}

.preloader__4x {
  transform: scale(0.4);
}

.preloader__5x {
  transform: scale(0.5);
}

.preloader__6x {
  transform: scale(0.6);
}

.preloader__7x {
  transform: scale(0.7);
}

.preloader__8x {
  transform: scale(0.8);
}

.preloader__9x {
  transform: scale(0.9);
}

.loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.8em solid rgb(189, 188, 192);
  border-right: 0.8em solid rgb(189, 188, 192);
  border-bottom: 0.8em solid rgb(189, 188, 192);
  border-left: 0.8em solid rgb(31, 140, 235);
  transform: translateZ(0);
  animation: load 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
